* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: RobotoWeb, Roboto, Arial, sans-serif;
}

#board-wrapper {
    display: grid;
}

#puzzle-container {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    gap: 5%;
}

#puzzle-container .letter-container {
    background-color: #e0e0e0;
    border: 1px solid grey;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    user-select: none;

    font-size: 40px;

    transition: 0.5s;
}

.letter-container.eliminated {
    border: none;
    opacity: 0.4;
}

.start-num {
    color: rgb(203, 15, 15);
    font-size: 20px;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.include-num {
    font-size: 20px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#lines {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}

#line-highlight {
    stroke: red;
    opacity: 0.5;
    fill: none;
    stroke-width: 25;

    stroke-linecap: round;
    stroke-linejoin: round;
}

#ui-container #word-opener {
    font-family: unset;
    background: none;
    border: none;
    font-size: 2.5em;
    padding: 0.5em 1em;
}

#words-popup {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    padding: 10px;
    background: white;
    overflow-y: scroll;
    display: none;
}

#words-popup h1,
#words-popup h2 {
    margin: 10px 0;
}

.word-group {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, var(--word-length));
}

#close {
    background: none;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
