* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#board-wrapper {
    display: grid;
}

#puzzle-container {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    gap: 5%;
}

#puzzle-container .letter-container {
    background-color: #e0e0e0;
    border: 1px solid grey;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    user-select: none;

    font-size: 40px;
    font-family: RobotoWeb, Roboto, Arial, sans-serif;
}

.start-num {
    color: rgb(203, 15, 15);
    font-size: 20px;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.include-num {
    font-size: 20px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#lines {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}

#line-highlight {
    stroke: red;
    opacity: 0.5;
    fill: none;
    stroke-width: 25;

    stroke-linecap: round;
    stroke-linejoin: round;
}
